In [3]:
import numpy as np
import pandas as pd
l1=np.random.randint(1,10,8)
l2=np.random.randint(1,10,8)
l3=np.random.randint(1,10,8)
l4=np.random.randint(1,10,8)
l5=np.random.randint(1,10,8)
l6=np.random.randint(1,10,8)
l7=np.random.randint(1,10,8)
l8=np.random.randint(1,10,8)
l9=np.random.randint(1,10,8)
l10=np.random.randint(1,10,8)

l=[l1,l2,l3,l4,l5,l6,l7,l8,l9,l10]
ll=pd.DataFrame(l)
ll

   0  1  2  3  4  5  6  7
0  8  9  9  3  1  6  7  1
1  5  9  7  7  2  7  4  7
2  5  6  6  1  4  6  1  4
3  8  3  2  7  4  9  8  8
4  9  3  2  6  1  2  9  3
5  5  6  9  9  2  6  5  1
6  6  7  9  6  3  3  1  8
7  1  7  3  7  4  3  8  9
8  2  1  6  2  1  2  3  3
9  5  3  5  6  5  3  6  2

In [5]:
s=[True,True,False,True,False,False,False,False]
t=['sally','reem','raneem','ali','lana','dana','sally','reem']
l2=s
l5=s 
l8=t
l3=t
l6=t

l=[l1,l2,l3,l4,l5,l6,l7,l8,l9,l10]
ll=pd.DataFrame(l)
ll

       0     1       2     3      4      5      6      7
0      8     9       9     3      1      6      7      1
1   True  True   False  True  False  False  False  False
2  sally  reem  raneem   ali   lana   dana  sally   reem
3      8     3       2     7      4      9      8      8
4   True  True   False  True  False  False  False  False
5  sally  reem  raneem   ali   lana   dana  sally   reem
6      6     7       9     6      3      3      1      8
7   True  True   False  True  False  False  False  False
8      2     1       6     2      1      2      3      3
9      5     3       5     6      5      3      6      2

In [10]:
d={"num1":l1,"bool1":l2,"name1":l3,"num2":l4,"bool2":l5,"name2":l6,"num3":l7,"bool3":l8,"name3":l9,"num4":l10}
d

{'num1': array([8, 9, 9, 3, 1, 6, 7, 1]),
 'bool1': [True, True, False, True, False, False, False, False],
 'name1': ['sally', 'reem', 'raneem', 'ali', 'lana', 'dana', 'sally', 'reem'],
 'num2': array([8, 3, 2, 7, 4, 9, 8, 8]),
 'bool2': [True, True, False, True, False, False, False, False],
 'name2': ['sally', 'reem', 'raneem', 'ali', 'lana', 'dana', 'sally', 'reem'],
 'num3': array([6, 7, 9, 6, 3, 3, 1, 8]),
 'bool3': [True, True, False, True, False, False, False, False],
 'name3': array([2, 1, 6, 2, 1, 2, 3, 3]),
 'num4': array([5, 3, 5, 6, 5, 3, 6, 2])}